<footer class="page-footer font-small bg-dark pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 style="color:darkorange">REDES SOCIAIS</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://www.facebook.com/rafael.ballabi/" target="_blank" 
             class="iconFacebook"><i class="fa-brands fa-facebook-square"></i></a>
          </li>
          <li>
            <a href="https://github.com/RafaelBalbino" target="_blank" 
             class="IconGithub"><i class="fa-brands fa-github-square"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/rafael-ballabinute-balbino" target="_blank" 
             class="iconLinkedin"><i class="fa-brands fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright bg-secondary text-center font-italic py-3">
    <p class="fontBlack">© 2022 Copyright: 
      <a href="https://github.com/RafaelBalbino" target = "_blank" 
       class="fontBlack">Rafael Ballabinute Balbino</a>
    </p>
  </div>
</footer>