<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="{{foto}}" alt="Foto do Usuário" width="50px" height="50px" 
           class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3" style="margin-top:10px">
          <p class="mg-0 font-weight-bold fontSize17" style="color:darkorange">
            Olá, {{nome}}
          </p>
        </li>
        <li class="nav-item pl-3">
            <a href=""> 
               <p style="color:darkorange; margin-top: 10px;">
                <i class="fa-solid fa-user-pen fontSize17"></i>
               </p>
            </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
            <a (click)="sair()" class="mg-0 font-weight-bold fontSize17" style="color:darkorange">
             Sair <i class="fa-solid fa-right-from-bracket"></i>
            </a>
      </ul>
    </div>
</nav>